// ========================== //
//           CARD             //
// ========================== //

@use "../base" as *;
@use "sass:map";

//--CARD----//
/*--START CARD--------------------*/
.card {
  padding: $ss-6;
  @include grid(auto, $gap: $ss-5);

  &__one {
    @include grid(auto, $gap: $ss-7);
    padding: $ss-9;
    background-color: $theme-neutral-400;
    border-radius: $ss-3 100px $ss-3 $ss-3;
  }

  &__icons {
    @include grid(repeat(3, auto), $gap: $ss-4);
    justify-content: start;
  }

  &__icon {
    @include flex(null);
    width: 48px;
    height: 48px;
    background-color: $theme-neutral-500;
    border-radius: $ss-2;
  }

  &__two {
    @include grid(auto, $gap: $ss-3);
    position: relative;
    padding: $ss-9 $ss-8;
    background-color: $theme-neutral-400;
    border-radius: $ss-3;
  }

  &__text {
    @include font-style(15, regular);
    padding-inline: $ss-2;
    color: $theme-neutral-100;

    &--bold {
      @include font-style(null, bold);
    }
  }

  &__bar {
    @include grid();
    align-items: center;
    height: $ss-5;
    background-color: hsla(229, 57%, 11%, 0.5);
    border: 1px solid hsla(229, 57%, 11%, 0.1);
    border-radius: $ss-5;

    &--one {
      @include grid();
      align-items: center;
      width: 80%;
      height: $ss-4;
      background: linear-gradient(
        90deg,
        $theme-primary-100 0%,
        $theme-primary-200 100%
      );
      border-radius: $ss-5;
    }

    &-circle {
      width: $ss-3;
      height: $ss-3;
      margin-right: $ss-1;
      margin-left: auto;
      background-color: $theme-neutral-100;
      border-radius: 100%;
    }
  }

  &__gb {
    @include grid(auto auto);
    justify-content: space-between;
    margin-bottom: $ss-2;
    color: $theme-neutral-100;
  }

  &__info {
    @include grid(auto auto, $gap: $ss-2);
    @include font-style(h1);
    position: absolute;
    bottom: -25%;
    left: 25%;
    align-items: center;
    padding: $ss-3 $ss-6;
    background-color: $theme-neutral-100;
    border-radius: $ss-3;

    & > .card--small {
      color: $theme-neutral-300;
      text-transform: uppercase;
    }
  }

  &--small {
    @include font-style(13, bold);
  }

  @include mq(min, md) {
    @include grid(1fr 2fr, auto 1fr 1fr, $ss-7);

    &__one {
      grid-row: span 3;
    }

    &__two {
      grid-column: 2;
      grid-row: 2 / span 2;
      padding: $ss-8;
    }

    &__info {
      top: -30%;
      right: 10%;
      bottom: auto;
      left: auto;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -20%;
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-right-color: $theme-neutral-100;
      }
    }

    &__gb {
      margin-bottom: 0;
    }
  }
}

/*--END CARD--------------------*/
